
body {
    display: flex;
    justify-content: center;
}

.container {
    border: 5px solid black;
    border-radius: 8px;
    width: 348px;
    height: 520px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F8EDE3;
}

button {
    width: 80px;
    height: 80px;
    margin: 4px;
    border-radius: 5px;
    background-color: #DFD3C3;
}

.display {
    text-align: right;
    font-size: 40px;
    
}


button.clear, button.minus, button.plus, button.times, button.divide, button.equal-to {
    background-color: #D0B8A8;
}

.clear-divide {
    display: flex;
    justify-content: space-between;
}

button.zero {
    width: 260px;
}

.clear-divide, .first-row, .second-row, .third-row, .bottom {
    display: flex;
    justify-content: space-between;
}